<div class="container container-top container-main">
  <div class="row">
    <div class="col-md-12 board_title">
      <p class="board_title">-Result-</p>
    </div>
  <div class="row">
    <div class="col-md-12">
    	<% if @result.blank? %>
    	<% else %>
    	<div class="topic">
    	<% @result.each do |t| %>
    		<div class="bs-callout bs-callout-info topic_title <%= cycle("odd", "even")%>">

				<p>
					<%= link_to t.title, category_board_topic_path(Category.find(t.category_id), Board.find(t.board_id), t.id) %>
					<span class="pull-right"><%= t.created_at.to_formatted_s(:extra_short) %></span>
				</p>
    		</div>

			<% end %>
    	</div>
    	<% end %>

    </div>
  </div>
</div>

