<div class="container" style="background: red;">
  <h1><%= @board.board_name %>トピック一覧</h1>
</div>

<div class="row">
  <div class="col-md-9">
    <% @topics.each do |t| %>
        <div class="topic">
          <div class="topic_title">
            <p><%= link_to t.title, category_board_topic_path(@category, @board, t) %></p>
          </div>
          <div class="topic_content">
            <p><%= t.content %></p>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <ul class="category_list">
      <li><a href="">カテゴリ１</a></li>
      <li><a href="">カテゴリ２</a></li>
      <li><a href="">カテゴリ３</a></li>
      <li><a href="">カテゴリ４</a></li>
    </ul>
  </div>
</div>





<%= link_to 'New Topic', new_category_board_topic_path(@category, @board) %>
