<div class="container container-top container-main wordBreak contentPadding">
  <div class="row">
    <div class="col-md-12">
      <p class="txtBold txt26px aboutFAQtitle">What's Casualyze?</p>
    </div>
    <div class="col-md-12 ProximaNova txt18px">
    	<p>
    		Casualyze is the idle topic sharing platform for geeks.</br>
    		It maybe have a position as "Reddit only for Engineer", 
    		"categorized and chatty HackerNews".

    	</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="txtBold txt26px aboutFAQtitle">Why bootstrapped Casualyze?</p>
    </div>
    <div class="col-md-12 ProximaNova txt18px">
    	<p>
    		There are some starter cues. The most biggest motivation is 
    		my recongnition that there is no just right hub for idle talk about
    		tech topic.</br> If you wanna discuss or ask a question seriously, 
    		a variety of platforms will support you. However, my wish is not like that.
    		I'd like to discuss Ruby with others and play an exciting religious oppositions with PHP lovers. 

    		</br></br>And at last, honestly, I've felt so lonely in solo programming. 
    	</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="txtBold txt26px aboutFAQtitle">What kind of topic should I post?</p>
    </div>
    <div class="col-md-12 ProximaNova txt18px">
    	<p>
    		Anything welcome. Logging in, you can submit your question about app development, 
				latest launched product, frustration against legacy code.
    	</p>
    </div>
  </div>
</div>


