<div class="container container-top container-main">
  <div class="row">
    <div class="col-md-12">
      <p class="board_title txtRed txtBold">-Sorry 404-</p>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 txtCenter ProximaNova txtBold txt18px">
    	<p>Maybe you were shocked like this.</p>
    	<p>If you are eager to solve this bug even just a little, </p>
    	<p>could you submit an issue/commit to </p>
    	<a href="https://github.com/timakin/Casualyze">the repository of Casualyze</a>?</p>
			<%= video_tag "sorry_page.mp4", :size => "360x280", :autoplay => true, :loop => true %>
    </div>
  </div>
</div>

