<div class="container">
  <div class="row">
    <div class="col-md-4">test</div>
    <div class="col-md-4">test</div>
    <div class="col-md-4">test</div>
  </div>    
  <div class="row">
    <% @boards.each do |b| %>
      <div class="col-md-8"><%= b.board_name %></div>
    <% end %>
  </div>
  <table>
    <thead>
      <tr>
        <th>Board name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>  

    <tbody>
      <% @boards.each do |board| %>
        <tr>
  				<td><%= board.board_name %></td>
  			</tr>
      <% end %>
    </tbody>
  </table>  
  <br>  

</div>
