/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 */

@font-face {
	font: {
		family: 'Gotham';
		weight: 'normal, bold';
		style:  'normal';
	}
	src: asset-url('gotham-rounded-medium.otf', font) format('truetype');
}

@font-face {
	font: {
		family: ProximaNova;
		weight: normal;
		style:  normal;
	}
	src: url('assets/fonts/ProximaNova-Regular.otf', font);
}

@font-face {
	font: {
		family: 'MuseoSlab';
		weight: 'normal, bold';
		style:  'normal';
	}
	src: url('assets/fonts/Museo Slab.otf', font) format('truetype');
}

@font-face {
	font: {
		family: SIMPLIFICA;
		weight: normal;
		style:  normal;
	}
	src: url('assets/fonts/SIMPLIFICA.ttf', font) format('truetype');
}

@font-face {
font-family: ‘Glyphicons Halflings’;
src: url(‘/assets/fonts/glyphicons-halflings-regular.eot’);
src: url(‘/asstes/fonts/glyphicons-halflings-regular.eot?#iefix’) format(‘embedded-opentype’),
url(‘/assets/fonts/glyphicons-halflings-regular.woff’) format(‘woff’),
url(‘/assets/fonts/glyphicons-halflings-regular.ttf’) format(‘truetype’),
url(‘/assets/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular’) format(‘svg’);
}

@font-face {
	font: {
		family: 'Lato-Light';
		weight: 'normal, bold';
		style:  'normal';
	}
	src: url('fonts/Lato-Light.ttf', font) format('truetype');
}

@font-face {
	font: {
		family: 'Lato-Regular';
		weight: 'normal, bold';
		style:  'normal';
	}
	src: url('fonts/Lato-Regular.ttf', font) format('truetype');
}

@font-face {
	font: {
		family: RictyDiminished-Regular;
		weight: normal;
		style:  normal;
	}
	src: url('fonts/RictyDiminished-Regular.ttf', font) format('truetype');
}

a {
	font-family: Gotham;
}

.sidemenu {
	float: left;
	width: 150px;
	overflow: scroll;
	background-color: black;
  
  .sidemenu_list{
    list-style: none;
    color: white;
  }
}

.login_modal {
	cursor: pointer;
}

.content{
	float: left;	
}

.container-top {
	padding-top: 15px;
	padding-bottom: 300px;
}

.container-main {
	background-color: #FFFFFF;
}
