// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.board_title {
	padding-top: 40px;
	padding-bottom: 30px;
}
p.board_title {
	text-align: center;
	font-weight: bold;
	font-family: Gotham;
	font-size: 48px;
}
.topic {
	.topic_title {
		font-weight: bold;
		p { 
			margin: 0px;
			font-size: 18px;
			letter-spacing: 1px;
		}
		a {
			color: #6A6A6A;
		}
		a:hover {
			color: #6A6A6A;
		}
		a:visited {
			color: #6A6A6A;
		}
	}
	.odd {
		background-color: #F6F6F6;
	}
	.even {
		background-color: white;
	}
}

.col-topic-title {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 2px solid #B9B9B9;
}

h1.topic_title {
	font-family: Gotham;
	color: #999999;
	text-align: center;
}
.access-count {
	float: right;
	color: #999999;
}
.posteby-name {
	color: #999999;
}

hr.under-topic-title-line {
	margin-top: 40px;
	border: 2px solid #a6aebb;
	width: 80%;
}


p.topic-search {
	padding-top: 8px;
}
input.topic-search {
	float: right;
	width: 100%;
	height: 49px;
	font-size: 18px;
	border: 2px solid #CECECE;
	color: #CECECE;
	letter-spacing: 1.5px;
}

.col-topic-desc {
	padding-top: 40px;
	padding-bottom: 40px;
	width: 90%;
	margin: 0 auto; 

}
.col-topic-desc-bottom-line {
	border-bottom: 2px solid #B9B9B9;
}
p.topic-desc {
	font-family: Lato;
	color: black;
	font-size: 18px;

}

input.topic-search:focus {
	border-color: #f2706c;
	outline:0px !important;
	box-shadow: none;
	color: black;
}

button.btn-create-topic {
	background-color: #5bc0de;
	border: 1px solid #5bc0de;
	border-radius: 0px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	letter-spacing: 1.5px;
	a {
		color: white;
		font-size: 18px;
	}
	a:hover {
		text-decoration: none;
	}
	a:focus {
		outline:0px !important;
	}
}

button.btn-create-topic:hover {
	background-color: #30B1D8;
	border: 1px solid #30B1D8;
	border-radius: 0px;
}

button.btn-create-topic:focus {
	background-color: #30B1D8;
	border: 1px solid #30B1D8;
	border-radius: 0px;
}

button.btn-user-login {
	background-color: red;
	border: 1px solid red;
	border-radius: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	width: 150px;
	text-align: center;
	letter-spacing: 1.5px;
	a {
		color: white;
	}
	a:hover {
		text-decoration: none;
	}
	a:focus {
		outline:0px !important;
	}
}

button.btn-user-login:hover {
	background-color: red;
	border: 1px solid red;
}

button.btn-user-login:focus {
	background-color: red;
	border: 1px solid red;
}

.topic-show-title {
	background: #f2706c;
	margin-left: 0px;
	padding-top: 20px;
	p {
		color: white;
	}
}
h2.discussion-declaration {
	font-family: Gotham;
	font-weight: bold;
}
.topic-content {
	height: 200px;
}